.caja-contacto{
    background-image: linear-gradient(to bottom, #b70131, #c55841, #d18a63, #dbb693, #e9dfcf);
    padding: 5px;
}

.titulo-contacto{
    text-align: center;
    padding: 20px;
    text-decoration: underline;
}

.saludo{
    width: 100%;
    text-align: center;
    padding: 75px;
    height: 260px;

}