header{
    background-color: rgb(53, 114, 53);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}
.encabezado{
    align-items: center;
}
.logo-p{
        height: 50px;
        margin-left: 20px;
}
h1{
    font-weight: 800;
    background-position: left;
}
.nav-inicio{
    justify-content: right;
    margin-right: 25px;
    
}
ul {
    list-style-type: none;
    text-align: right;
}
.nav-inicio li{
    list-style: none;    
}
li {
    display: inline;
}
.nav-palabras{
    text-decoration: none;
    padding: 30px;
    font-size: 25px;
    color:azure;
}

