.caja-main{
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to bottom, #b70131, #c55841, #d18a63, #dbb693, #e9dfcf);
}

.titulo-tienda{
    text-decoration: underline;
    color: antiquewhite;
}
.foto-tienda{
    display: flex;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    margin: 20px;
}

.section-tienda{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: antiquewhite;
}

.p-tienda{
    background-color: rgba(53, 114, 53, 0.323);
    height: 30px;
    border-radius: 15px;
    text-align: center;
    text-decoration: underline;
    }


.caja-foto{
    padding: 20px 30px;
}

.section-carrito{
    background-color: rgba(53, 114, 53, 0.323);
    height: 30px;
    border-radius: 30px;
    height: 60px;
    width: 60px;
    text-align: center;
    margin: px;
}